# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data" , "Science" , "Mentorship" , "Program" , "By" , "CampusX" , sep = '-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here

celcius = float(input('Enter temprature in celcius '))

fahrenheit = ( celcius * 9/5 ) + 32 

print("the temprature in fahrenheit is " , fahrenheit , sep = '--> ')

Enter temprature in celcius24.3
the temprature in fahrenheit is --> 75.74000000000001

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [2]:
# Write your code here

num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

print("Value of num1 and num2 are : " , num1 , "''" , num2)

num3 = num1
num1 = num2
num2 = num3

print("-----------------------------------------------------")

print("after swapping values of num 1 : " , num1 , " num2 : " , num2)

Enter first number15
Enter second number25
Value of num1 and num2 are :  15 '' 25
-----------------------------------------------------
after swapping values of num 1 :  25  num2 :  15

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [10]:
# Write your code here

# take the input from user for every co ordinate

import math


x1 = float(input("enter the co-ordinate for x1"))
x2 = float(input("enter the co-ordinate for x2"))
y1 = float(input("enter the co-ordinate for y1"))
y2 = float(input("enter the co-ordinate for y2"))

print("-----------------------------------------------")

print("the values of x1 : {} , x2 : {} , y1 : {} , y2 : {} ".format(x1 , x2 , y1 , y2))

print("------------------------------------------------")

distance = math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)

print("the euclidean distance is {}".format(distance))


print("------------------------------------------------")

enter the co-ordinate for x12
enter the co-ordinate for x28
enter the co-ordinate for y14
enter the co-ordinate for y22
-----------------------------------------------
the values of x1 : 2.0 , x2 : 8.0 , y1 : 4.0 , y2 : 2.0
------------------------------------------------
the euclidean distance is 6.324555320336759
------------------------------------------------
20.0


### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [12]:
# Write your code here

#find simple intrest

# take principle amount , rate of intrest and period time  from user

principle = float(input("enter the principle amount"))

intrest = float(input("enter the rate of intrest"))

time = float(input("enter the time period of loan"))

# now find the simple intrest

simple_intrest = (principle * intrest * time) / 100

print("------------------------------------------")
print()
print("the simple intrest is " , simple_intrest)

enter the principle amount150000
enter the rate of intrest10.10
enter the time period of loan3
------------------------------------------

the simple intrest is  45450.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [17]:
# Write your code here

#take input from user

heads = int(input("enter the total number of heads"))
legs = int(input("enter the total number of legs"))

# calculate the chicken and dogs

chicken = (4 * heads - legs) / 2 
dogs = heads - chicken

print()
print("--------------------------------------")
print()
print("the number of chicken are {} and number of dogs are {} ".format(chicken , dogs))

enter the total number of heads4
enter the total number of legs12

--------------------------------------

the number of chicken are 2.0 and number of dogs are 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [19]:
# Write your code here

num = int(input("enter the n"))

sum = 0 
i = 1
for i in range(num):

  sum = sum + i ** 2 


print("the sum of first {} natural number is {} ".format(num , sum))

enter the n4
the sum of first 4 natural number is 14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [21]:
# Write your code here

a = int(input("enter the first number of series : "))
b = int(input("enter the second number of series : "))
n = int(input("enter the nth term which you want to find : "))

# calculate the comman diffrence

d = b - a 

# now find the n th term 

n_term = a + (n - 1)*d

print("the nth term is : " , n_term)

enter the first number of series : 1
enter the second number of series : 5
enter the nth term which you want to find : 15
the nth term is :  57

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [23]:
# Write your code here

num1 = int(input("enter the value for numerator 1 "))
den1 = int(input("enter the value for denominator 1"))
num2 = int(input("enter the value for numerator 2 "))
den2 = int(input("enter the value for denominator 2"))

sum_numerator = (num1 * den2) + (den1 * num2)
sum_denominator = den1 * den2 

print("---------------------------------------------------")
print("the addition of 2 fractions is : {} / {}".format(sum_numerator , sum_denominator))

enter the value for numerator 1 15
enter the value for denominator 125
enter the value for numerator 2 14
enter the value for denominator 245
---------------------------------------------------
the addition of 2 fractions is : 1025 / 1125

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here