# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [5]:
print("Data" , "Science" ,  "Mentorship" ,  "Program" ,  
"By" , "CampusX" , sep = "-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [8]:
celcius = int(input("give the temprature"))

fahreinheit = (celcius *  1.8 ) + 32

print(fahreinheit)

give the temprature21
69.80000000000001

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [9]:
# Write your code here

a = int(input("write 1st number"))

b = int(input("write 2nd number"))

c = None ; 

c = a 
a = b 
b = c 

print(a)
print(b)

write 1st number15
write 2nd number65
65
15




### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [10]:
# Write your code here

import math

print("enter the value of x1 and x2 for A")

x1 , x2 = map(int , input().split())

print("enter the value of y1 and y2 for B")

y1 , y2 = map(int , input().split())

dist = ((x2 - x1 ) ** 2 + (y2 - y1) ** 2)

print(dist)

enter the value of x1 and x2 for A
4 6
enter the value of y1 and y2 for B
33 9
580

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [11]:
# Write your code here

rate_int = int(input("Enter the rate of intrest"))

time_period = int(input("Enter the time period"))

principle_amount = int(input("enter the principle amount"))

simple_Intrest = principle_amount * time_period * rate_int

print(simple_Intrest)

Enter the rate of intrest14
Enter the time period2
enter the principle amount22000
616000

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [14]:
# Write your code here

heads = int(input("Enter the Number of heads"))

legs = int(input("enter the number of legs"))

count = None ; 

count = (legs) - 2 * heads  

count =  count / 2

dogs = count 

print("Dogs : " , dogs)

print("chicken : " , heads - dogs)

Enter the Number of heads4
enter the number of legs12
Dogs :  2.0
chicken :  2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [24]:
# Write your code here

n = int(input("Enter the N"))

add = 0
sum = 0
for i in range(1 , n+1) : 
  
  sum = sum + (i ** 2) 

  add = add + i 
  
print(sum)
print(add)

Enter the N2
5
3

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [25]:
# Write your code here


a = int(input("Enter the initial term"))
d = int(input("enter the diffrence"))
n = int(input("Enter the n th term"))

final_term = a + (n-1) * d

print(final_term)

Enter the initial term2
enter the diffrence1
Enter the n th term5
6

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [27]:
# Write your code here

print("enter the value of x1 and x2 for A")

x1 , x2 = map(int , input().split())

print("enter the value of y1 and y2 for B")

y1 , y2 = map(int , input().split())


numerator = (x1 * y2) + (y1 * x2)

denominator = x2 * y2 

print(numerator , " / " , denominator)

enter the value of x1 and x2 for A
14 10
enter the value of y1 and y2 for B
24 3
282  /  30

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here