### Dictionary In Python

In [29]:
port1 = {21 : "FTP" , 22 :"SSH" , 23 : "telnet" , 80 : "http"}

port2 = {value : key for key , value in port1.items()}

print(port1)

print(port2)

{21: 'FTP', 22: 'SSH', 23: 'telnet', 80: 'http'}
{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

In [28]:
port3 = {21 : "FTP" , 22 :"SSH" , 23 : "telnet" , 80 : "http"}

key = 23

if key in port3 :
    print("key is present in the dictionary")
else : 
    print("Key is not present in the dictionary")

key is present in the dictionary

In [6]:
dict = {1: "Add student", 2: "Remove student", 3: "Print grades", 4: "Record grade", 5: "Print menu", 6: "Exit"}

choice = 0
while(choice != 6):
    choice = int(input("Enter choice: "))
    if(choice == 1):
        print(dict[1])
    elif(choice == 2):
        print(dict[2])
    elif(choice == 3):
        print(dict[3])
    elif(choice == 4):
        print(dict[4])
    elif(choice == 5):
        print(dict[5])
    elif(choice == 6):
        print(dict[6])

Add student
Remove student
Print grades
Print grades
Record grade
Print menu
Exit

In [13]:
dict1 = {'a' : 1  , 'c' : 3}

dict2 = {'b' : 2 , 'e' : 5 , 'd' : 4} 

print(dict1 , dict2 , sep="\n")

# Merge Two dictionaries

dict3 = (dict1 | dict2)

print(dict3)

{'a': 1, 'c': 3}
{'b': 2, 'e': 5, 'd': 4}
{'a': 1, 'c': 3, 'b': 2, 'e': 5, 'd': 4}

In [8]:
dict5 = {5 : "a" , 2 : "b" , 4 : "j" , 3 : "c" }

# In Ascending Order
sorted_Dict5 = sorted(dict5.items())

print("In ascending order")
print("sorted using key" , sorted_Dict5)


# In descending order

sorted_Dict5 = sorted(dict5.items() , reverse=True)
print("In descending order")
print("sorted using key" , sorted_Dict5)

In ascending order
sorted using key [(2, 'b'), (3, 'c'), (4, 'j'), (5, 'a')]
In descending order
sorted using key [(5, 'a'), (4, 'j'), (3, 'c'), (2, 'b')]

In [25]:
dict9 = {5 : "a" , 2 : "b" , 4 : "j" , 3 : "c" }

In [33]:
dict10 = {5 : "a" , 2 : "b" , 4 : "j" , 3 : "c" }

dict10[1] = 'Mayur' 

dict10[10] = "Akash"

print(dict10)

{5: 'a', 2: 'b', 4: 'j', 3: 'c', 1: 'Mayur', 10: 'Akash'}

In [35]:
dict11 = { }

name = input("Enter employee name :-")
salary = int(input("Enter employee salary :-"))
dict11[name] = salary
print(dict11)

{'mr Mayur Jadhav': 10000000}

In [37]:
students = {"student_1" : 13 , "student_2" : 17 , "student_3" : 9 , "student_4" : 15 , 
            "student_5" : 8 , "student_6" : 14 , "student_7" : 16 , "student_8" : 12 , 
            "student_9" : 13 , "student_10" : 15 , "student_11" : 14 , "student_112" : 9 , 
            "student_13" : 10 , "student_14" : 12 , "student_15" : 13 , "student_16" : 7 ,
            "student_17" : 12 , "student_18" : 15 , "student_19" : 9 , "student_20" : 17 ,}

admittedStudents = ({})
nonAdmittedStudent = ({})

for key, value in students.items ():
    if (value <10):
        nonAdmittedStudent[key] = value
    else:
        admittedStudents[key] = value

print ("Admitted students:", admittedStudents)
print()
print ("Students not admitted:", nonAdmittedStudent)

Admitted students: {'student_1': 13, 'student_2': 17, 'student_4': 15, 'student_6': 14, 'student_7': 16, 'student_8': 12, 'student_9': 13, 'student_10': 15, 'student_11': 14, 'student_13': 10, 'student_14': 12, 'student_15': 13, 'student_17': 12, 'student_18': 15, 'student_20': 17}

Students not admitted: {'student_3': 9, 'student_5': 8, 'student_112': 9, 'student_16': 7, 'student_19': 9}

## Tuples

In [38]:
t1 = (4,5,2,7,1,9,3)

t2 = sorted(t1)

print(t2)

[1, 2, 3, 4, 5, 7, 9]

In [9]:
t1 = (4,5,2,7,1,9,3)

temp = 0 

for i in t1:
    temp = temp + i

print("The sum of Tuple elements is " , temp)

The sum of Tuple elements is  31

In [43]:
t1 = (4,5,2,7,1,9,3)

length = len(t1)

print("the size of tuple is " , length)

the size of tuple is  7

In [4]:
list1 = [("Name" , "Ram") , ("Name" , "Pooja") , ("Name" , "Sara") , ("Age" , 21) , ("Gender" , "Male") ,
("Age" , 23) , ("Gender" , "Female") , ("Gender" , "Female") , ("Age",22)]

dict12 = ({})

for key , value in list1 :
    dict12.setdefault(key , []).append(value)

print(dict12)

{'Name': ['Ram', 'Pooja', 'Sara'], 'Age': [21, 23, 22], 'Gender': ['Male', 'Female', 'Female']}

In [2]:
t1 = (4,5,2,7,1,9,3)

list1 = list(t1)

print(list1)
list1.remove(1)

print(list1)

tuple2 = tuple(list1)

print(tuple2)

[4, 5, 2, 7, 1, 9, 3]
[4, 5, 2, 7, 9, 3]
(4, 5, 2, 7, 9, 3)

In [54]:
t1 = (4,5,2,7,1,9,3)

print(t1[::-1])

(3, 9, 1, 7, 2, 5, 4)

In [55]:
t2 = ("mayur" , "Juber" , "Chaitanya", "akash" ,  ("Akash" , 12 , 16) , (16 , 25 ,65) , [1,5,2,6])

print(t2)

(1, 3, 6, 4, 'akash', ('Akash', 12, 16), (16, 25, 65), [1, 5, 2, 6])

In [59]:
t2 = (1 , 3 , 6 , 4 , "akash" ,  ("Akash" , 12 , 16) , (16 , 25 ,65) , [1,5,2,6])


print(t2[-1][1])

5

In [5]:
set1 = {1, 2, 3, 4, 5}

set2 = {3, 4, 5, 6, 7}

set1.difference_update(set2)

print(set1)

{1, 2}