
### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [19]:
HRA_PERCENTAGE = 0.1;
DA_PERCENTAGE = 0.05;
PF_PERCENTAGE = 0.03;

ctcSalary = int(input("Enter Your CTC"))
print("---------------------------------")
print(f"your Salary is {ctcSalary}")

print("----------------------------------")

hraDeduction = ctcSalary * HRA_PERCENTAGE;
daDeduction = ctcSalary * DA_PERCENTAGE;
pfDeduction = ctcSalary * PF_PERCENTAGE;
totalDeduction = hraDeduction + daDeduction + pfDeduction;

print("Your total Basic Tax is : " , totalDeduction)

print("-----------------------------------")

taxableIncome = ctcSalary - totalDeduction;

print("your Salary After Basic tax : " , taxableIncome)

print("-----------------------------------")

taxRate = 0 

if ctcSalary <= 500000 :
   taxRate = 0
elif ctcSalary >= 500000 and ctcSalary <= 1000000 : 
  taxRate = 0.1
elif ctcSalary >= 1000000 and ctcSalary <= 2000000 :
  taxRate = 0.2
elif ctcSalary > 2000000 :
  taxRate = 0.3


taxAmount = taxableIncome * taxRate;

print("after Applying all the taxes your final Tax is : " , " '' " , taxAmount , " '' ")

netSalary = ctcSalary - totalDeduction - taxAmount;

print("------------------------------------")

print("Final In hand Salary per year is : " ,  netSalary)

print("-------------------------------------")

print("your in hand Salary per month is : " , netSalary / 12)

Enter Your CTC600000
---------------------------------
your Salary is 600000
----------------------------------
Your total Basic Tax is :  108000.0
-----------------------------------
your Salary After Basic tax :  492000.0
-----------------------------------
after Applying all the taxes your final Tax is :   ''  49200.0  ''
------------------------------------
Final In hand Salary per year is :  442800.0
-------------------------------------
your in hand Salary per month is :  36900.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [20]:
# Write code here
# Input three angles from the user
angle1 = float(input("Enter the first angle in degrees: "))
angle2 = float(input("Enter the second angle in degrees: "))
angle3 = float(input("Enter the third angle in degrees: "))

# Check if the angles can form a triangle
if angle1 + angle2 + angle3 == 180:
    print("These angles can form a triangle.")
else:
    print("These angles cannot form a triangle.")

Enter the first angle in degrees: 65
Enter the second angle in degrees: 45
Enter the third angle in degrees: 23
These angles cannot form a triangle.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [22]:
# Write code here

cost_price = float(input("enter cost price : "))
selling_price = float(input("enter selling price : 
"))

Profit_Loss = selling_price - cost_price

if Profit_Loss > 0 :
  print(f"You earn {Profit_Loss} inr in that deal")
elif Profit_Loss < 0 :
  print(f"You loss {Profit_Loss} inr in that deal")
else:
  print("there is no Profit and Loss in that Deal")

enter cost price : 1500
enter selling price : 1450
You loss -50.0 inr in that deal

### `Problem 4`: Write a menu-driven program - 
1. cm to ft 
2. km to miles 
3. USD to INR 
4. exit

In [41]:
# Write code here

menu = int(input("""

Select Your Choice...!
1. cm to ft
2. km to miles
3. USD to INR
4. exit

"""))

print("--------------------------------------------------------------")

if menu == 1 :
  print("You choose : 1 . cm to ft")
  print("--------------------------------------------------------------")
  cm = float(input("Enter height in cm : "))
  print("--------------------------------------------------------------")
  ft = cm * 0.0328
  print(f"{cm}  cm is {ft:.2f} ft")

elif menu == 2 :
  print("you choose : 2 . km to miles")
  print("--------------------------------------------------------------")
  km = float(input("enter k that you want in miles"))
  print("--------------------------------------------------------------")
  miles = km * 0.621371
  print(f"{km} km  in miles are {miles}")

elif menu == 3 :
  print("you choose : 3 . USD to INR")
  print("--------------------------------------------------------------")
  USD = float(input("Enter How Many USD you want to Convert"))
  print("--------------------------------------------------------------")
  INR = USD * 81.80
  print(f"{USD} usd's in INR are {INR:.2f} rs.")

elif menu == 4 :
  print("You Choose : 4 . Exit")


print("--------------------------------------------------------------")

print("Welcome Visit Again...!")

Select Your Choice...!
1. cm to ft
2. km to miles
3. USD to INR
4. exit

3
--------------------------------------------------------------
you choose : 3 . USD to INR
--------------------------------------------------------------
Enter How Many USD you want to Convert160
--------------------------------------------------------------
160.0 usd's in INR are 13088.00 rs.
--------------------------------------------------------------
Welcome Visit Again...!

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [45]:
# Write code here

# take input from user how many terms he wants to print

nTerms = int(input("Enter the how long fibonacci series you want : "))

# take firstTerm and secondTerm

term1 = int(input("Enter the 1st term : "))
term2 = int(input("Enter the 2nd term : "))

print("----------------------------------------")

print("term 1 : " , term1)
print("term 2 : " , term2)
j = 3
for i in range(nTerms):
  
  
  next_term = term1 + term2
  print(f"term {j} : ",next_term)
  term1 = term2
  term2 = next_term
  j = j + 1

Enter the how long fibonacci series you want : 10
Enter the 1st term : 5
Enter the 2nd term : 25
----------------------------------------
term 1 :  5
term 2 :  25
term 3 :  30
term 4 :  55
term 5 :  85
term 6 :  140
term 7 :  225
term 8 :  365
term 9 :  590
term 10 :  955
term 11 :  1545
term 12 :  2500

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output: 

```bash
120
```

In [47]:
# Write code here

num = int(input("Enter a number to check factorial of that number"))

factorial = 1 

for i in range( 1 , num+1):
  factorial = factorial * i 

print(factorial)

Enter a number to check factorial of that number5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [53]:
# Input the number to reverse
num = int(input("Enter a number: "))

# Initialize the reversed number to 0
reversed_num = 0

# Reverse the number
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

# Output the result
print(f"The reversed number is {reversed_num}")

Enter a number: 123
The reversed number is 321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [89]:
# Take input from user
N = int(input("Enter a number: "))

# Initialize variables
sum = 0
i = 1

# Loop until sum is greater than 300 or i is greater than N
while sum < 300 and26 i <= N:
    # Check if i is divisible by 5
    if i % 5 == 0:
        i += 1
        continue

    # Add i to the sum and increment i
    sum += i
    i += 1

# Output the result
print(f"The final sum is {sum}")

Enter a number: 26
The final sum is 276

In [90]:
# Take input from user
N = int(input("Enter a number: "))

# Initialize variables
sum = 0

# Loop from 1 to N
for i in range(1, N+1):
    # Check if i is divisible by 5
    if i % 5 == 0:
        continue

    # Add i to the sum
    sum = sum + i

    # Check if the sum is greater than 300
    if sum > 300:
        break

# Output the result
print(f"The final sum is {sum}")

Enter a number: 30
The final sum is 303

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. 
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps. 

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.** 

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here