# Dictionary

    Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

    In some languages it is known as map or assosiative arrays.

    dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

## Creating of dictionary

In [1]:
# empty dictionary

d = {} 
print(d)

{}

In [3]:
# 1D dictionary 
# homogeneous
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
print(d1)

# heterogeneous

d2 = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }
print(d2)

{'name': 'nitish', 'gender': 'male'}
{'name': 'nitish', 'age': 33, 'gender': 'male'}

In [8]:
# 2D dictionary

s = {
    'Name' : 'Akash',
    'College' : 'MITWPU' ,
    'Semester' : 1 ,
    'class' : "F.Y" , 
    'Subjects' : {
        "Machine learning" , 
        "Java" , 
        "R" ,
        "Python",
        "Android"
    } ,
    'marks' : {
        "Machine Learning" : 40 ,
        "Android" : 40 ,
        "Java" : 40 ,
    }
}

print(s)
print("---------------------------")

s

{'Name': 'Akash', 'College': 'MITWPU', 'Semester': 1, 'class': 'F.Y', 'Subjects': {'Machine learning', 'Android', 'R', 'Java', 'Python'}, 'marks': {'Machine Learning': 40, 'Android': 40, 'Java': 40}}
---------------------------

{'Name': 'Akash',
 'College': 'MITWPU',
 'Semester': 1,
 'class': 'F.Y',
 'Subjects': {'Android', 'Java', 'Machine learning', 'Python', 'R'},
 'marks': {'Machine Learning': 40, 'Android': 40, 'Java': 40}}

In [12]:
# using dict() function

d4 = dict([(1  , 2 ) , (3 , 4) , (5 , 6)])
print(d4)

d5 = dict([("Name" ,"Akash" ) , ("Age" , 21) , ("school" , "Mitwpu")])

d5

{1: 2, 3: 4, 5: 6}

{'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu'}

In [13]:

# it does not contain duplicates

d6 = {"Name" : "Akash" , "Name" : "Balaji"}
d6

# it does not allow the duplicate values
# it print the last element

{'Name': 'Balaji'}

In [14]:
# mutable items as keys

#d7 = {'name':'nitish',[1,2,3]:2}
#print(d7)
# this shows an error because we add the mutable datatype in it


d7 = {'name':'nitish',(1,2,3):2}
print(d7)
# but here we use tuple so it allowed because tuple is immutable

{'name': 'nitish', (1, 2, 3): 2}

-dictionaries are unordered

In [18]:
# accessing items from dictionary

# it does not work because indexing concept is not here

# but we want to access any value from the list we give the corresponding key of the value

my_dict = {'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu'}

print(my_dict['Name'])

print(my_dict['Age'])

print(my_dict['school'])

Akash
21
Mitwpu

In [20]:
# we use another method to get the values 
# using get() method

print(my_dict.get("Name"))

print(my_dict.get("Age"))

Akash
21

In [23]:
# adding the key value pair in the dictionory

d10 = {'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu'}

d10["Gender"] = "Male"

print(d10)

print("-----------------------------")


d10["Weight"] = "75kg"

print(d10)

{'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male'}
-----------------------------
{'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male', 'Weight': '75kg'}

### how to remove key and value pairs from the dictionary

        so there are 4 ways to remove the key value pairs from the dictionary : 

        - pop
        - popitem
        - del
        - clear

In [30]:
# pop -> 
# if we provide the key in the pop function then it removes the perticular key from the dictionary


d10 = {'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male', 'Weight': '75kg'}

print(d10)

d10.pop("Weight")

print(d10)

{'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male', 'Weight': '75kg'}
{'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male'}

In [31]:
# popitem
# popitem function deletes the last key value pair function
d10 = {'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male', 'Weight': '75kg'}

d10.popitem()

print(d10)

{'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male'}

In [33]:
# del

# using del we can delete the whole list as well as a perticular dictionary key  value pair
d10 = {'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male', 'Weight': '75kg'}

del d10['Name']

print(d10)

{'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male', 'Weight': '75kg'}

In [34]:
# clear
# using clear we cnn clear or empty the dictionary

d10 = {'Name': 'Akash', 'Age': 21, 'school': 'Mitwpu', 'Gender': 'Male', 'Weight': '75kg'}

d10.clear()

print(d10)

{}

In [36]:
# accesing elements from the 2D dictionary

s = {
    'Name' : 'Akash',
    'College' : 'MITWPU' ,
    'Semester' : 1 ,
    'class' : "F.Y" , 
    'Subjects' : {
        "Machine learning" , 
        "Java" , 
        "R" ,
        "Python",
        "Android"
    } ,
    'marks' : {
        "Machine Learning" : 40 ,
        "Android" : 40 ,
        "Java" : 40 ,
    }
}


s["marks"]["Java"]

40

In [39]:
# add elements in the 2d dictionary

s = {
    'Name' : 'Akash',
    'College' : 'MITWPU' ,
    'Semester' : 1 ,
    'class' : "F.Y" , 
    'Subjects' : {
        "Machine learning" , 
        "Java" , 
        "R" ,
        "Python",
        "Android"
    } ,
    'marks' : {
        "Machine Learning" : 40 ,
        "Android" : 40 ,
        "Java" : 40 ,
    }
}

s["marks"]["Python"] = 40

s

{'Name': 'Akash',
 'College': 'MITWPU',
 'Semester': 1,
 'class': 'F.Y',
 'Subjects': {'Android', 'Java', 'Machine learning', 'Python', 'R'},
 'marks': {'Machine Learning': 40, 'Android': 40, 'Java': 40, 'Python': 40}}

In [45]:
# remove key value pair from 2d dictionary
# we only delete the elements from the key which are in the key value pair a single item cannot be delete
s = {
    'Name' : 'Akash',
    'College' : 'MITWPU' ,
    'Semester' : 1 ,
    'class' : "F.Y" , 
    'Subjects' : {
        "Machine learning" , 
        "Java" , 
        "R" ,
        "Python",
        "Android"
    } ,
    'marks' : {
        "Machine Learning" : 40 ,
        "Android" : 40 ,
        "Java" : 40 ,
    }
}

print(type(s))

del s["marks"]["Java"]

print(s)

<class 'dict'>
{'Name': 'Akash', 'College': 'MITWPU', 'Semester': 1, 'class': 'F.Y', 'Subjects': {'Machine learning', 'Android', 'R', 'Java', 'Python'}, 'marks': {'Machine Learning': 40, 'Android': 40}}

#### Editing the key Value Pair

In [47]:
s = {
    'Name' : 'Akash',
    'College' : 'MITWPU' ,
    'Semester' : 1 ,
    'class' : "F.Y" , 
    'Subjects' : {
        "Machine learning" , 
        "Java" , 
        "R" ,
        "Python",
        "Android"
    } ,
    'marks' : {
        "Machine Learning" : 40 ,
        "Android" : 40 ,
        "Java" : 40 ,
    }
}

s["Semester"] = 2

s

{'Name': 'Akash',
 'College': 'MITWPU',
 'Semester': 2,
 'class': 'F.Y',
 'Subjects': {'Android', 'Java', 'Machine learning', 'Python', 'R'},
 'marks': {'Machine Learning': 40, 'Android': 40, 'Java': 40}}

In [49]:
s = {
    'Name' : 'Akash',
    'College' : 'MITWPU' ,
    'Semester' : 1 ,
    'class' : "F.Y" , 
    'Subjects' : {
        "Machine learning" , 
        "Java" , 
        "R" ,
        "Python",
        "Android"
    } ,
    'marks' : {
        "Machine Learning" : 40 ,
        "Android" : 40 ,
        "Java" : 40 ,
    }
}

s["marks"]["Java"] = 50

s

{'Name': 'Akash',
 'College': 'MITWPU',
 'Semester': 1,
 'class': 'F.Y',
 'Subjects': {'Android', 'Java', 'Machine learning', 'Python', 'R'},
 'marks': {'Machine Learning': 40, 'Android': 40, 'Java': 50}}

### Dictionary Operations

    -membership
    -iteration

In [51]:
# membership 

s = {
    'Name' : 'Akash',
    'College' : 'MITWPU' ,
    'Semester' : 1 ,
    'class' : "F.Y" , 
    'Subjects' : {
        "Machine learning" , 
        "Java" , 
        "R" ,
        "Python",
        "Android"
    } ,
    'marks' : {
        "Machine Learning" : 40 ,
        "Android" : 40 ,
        "Java" : 40 ,
    }
}

print("Akash" in s) # false because everything is about keys because it finds or search only for keys value is not matter

print("Name" in s) # true because we find key for this time

False
True

In [55]:
# iteration 

d = {"Name" : "Akash" , "Gender" : "male" , "Age" : 33}

# this only print the keys in dictionary
for i in d:
    print(i)

# how we can print the key and values with dictionary
for i in d:
    print(i , d[i] , sep= " : ")

Name
Gender
Age
Name : Akash
Gender : male
Age : 33

### Functions in the Dictionary :

In [58]:
# len

d = {"Name" : "Akash" , "Gender" : "male" , "Age" : 33}

print(len(d))


# sorted 

print(sorted(d))

# min

print(min(d))

# max

print(max(d))
# but min and max gives answers on the basis of ascii values

3
['Age', 'Gender', 'Name']
Age
Name

In [61]:
d = {"Name" : "Akash" , "Gender" : "male" , "Age" : 33}

# items 
# it display all the key value value pairs in the form for tuple in the list

print(d.items()) 

# keys
# it print all the keys at same time but only the keys

print(d.keys())


# values
# it prints all the values present in the dictionary bbut only values

print(d.values())

dict_items([('Name', 'Akash'), ('Gender', 'male'), ('Age', 33)])
dict_keys(['Name', 'Gender', 'Age'])
dict_values(['Akash', 'male', 33])

In [62]:
# update 
# it updates the the d1 on the basis of d2 


d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary comprehension

        {key : value for vars in iterable}

In [63]:
# print 1st 10 numbers and their squares

{i : i**2 for i in range(1 , 10 + 1)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [65]:
# using existing dictionary

distnaces = {'Delhi' : 1000 , 'Mumbai' : 2000 , 'banglore' : 3000}

{key : value * 0.62 for (key , value) in distnaces.items()}

{'Delhi': 620.0, 'Mumbai': 1240.0, 'banglore': 1860.0}

In [66]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [67]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [69]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,4 + 1)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}