# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)] 
```

In [ ]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result = {}
for tuple in test_list:
    key = tuple[0]
    if key in result:
        result[key] += tuple[1:]
    else:
        result[key] = tuple

output = list(result.values())
print(output)

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result. 


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
# write your code here
original_tuple = (1, 5, 7, 8, 10)
resultant_tuple = [0] * len(original_tuple)

for i in range(len(original_tuple)):
    if i > 0:
        resultant_tuple[i] += original_tuple[i] * original_tuple[i-1]
    if i < len(original_tuple) - 1:
        resultant_tuple[i] += original_tuple[i] * original_tuple[i+1]

resultant_tuple = tuple(resultant_tuple)
print(resultant_tuple)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
# write your code here

t1 = (1, 2, 3, 0)
t2 = (0, 1, 2, 3)

are_same = True
for i in range(len(t1)):
    if t1[i] != t2[i]:
        are_same = False
        break

if are_same:
    print("t1 and t2 are the same")
else:
    print("t1 and t2 are not the same")

In [ ]:
t1 = (1, 2, 3, 0)
t2 = (0, 1, 2, 3)

are_same = all(t1[i] == t2[i] for i in range(len(t1)))

if are_same:
    print("t1 and t2 are the same")
else:
    print("t1 and t2 are not the same")

In [ ]:
t1 = (1, 2, 3, 0)
t2 = (0, 1, 2, 3)

are_same = t1 == t2

if are_same:
    print("t1 and t2 are the same")
else:
    print("t1 and t2 are not the same")

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]

tuple_count = 0
list_count = 0
set_count = 0

for element in list1:
    if isinstance(element, tuple):
        tuple_count += 1
    elif isinstance(element, list):
        list_count += 1
    elif isinstance(element, set):
        set_count += 1

print("List -", list_count)
print("Set -", set_count)
print("Tuples -", tuple_count)

In [ ]:
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]

tuple_count = sum(isinstance(element, tuple) for element in list1)
list_count = sum(isinstance(element, list) for element in list1)
set_count = sum(isinstance(element, set) for element in list1)

print("List -", list_count)
print("Set -", set_count)
print("Tuples -", tuple_count)

In [ ]:
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]

tuple_count = 0
list_count = 0
set_count = 0

for element in list1:
    if type(element) is tuple:
        tuple_count += 1
    elif type(element) is list:
        list_count += 1
    elif type(element) is set:
        set_count += 1

print("List -", list_count)
print("Set -", set_count)
print("Tuples -", tuple_count)

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here

num_records = int(input("Enter No of records: "))

students = []
for i in range(1, num_records + 1):
    print("Enter Details of student-", i)
    name = input("Enter Student name: ")
    education = input("Enter Higher Education: ")
    skill = input("Enter Primary Skill: ")
    graduation_year = input("Enter Year of Graduation: ")
    student_record = (name, education, skill, graduation_year)
    students.append(student_record)

print("\nEnter Job Role Requirement")
required_skill = input("Enter Skill: ")
required_education = input("Enter Higher Education: ")
required_graduation_year = input("Enter Year of Graduation: ")

shortlisted_students = []
for student in students:
    if (
        student[2] == required_skill
        and student[1] == required_education
        and student[3] == required_graduation_year
    ):
        shortlisted_students.append(student)

if len(shortlisted_students) == 0:
    print("\nNo such candidate")
else:
    for student in shortlisted_students:
        print(student)

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code here

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

set1 = set(ar1)
set2 = set(ar2)
set3 = set(ar3)

common_elements = set1.intersection(set2, set3)

print(list(common_elements))

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
# write your code here

input_string = input("Enter a string: ")

vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
unique_vowels = set()

for char in input_string:
    if char in vowels:
        unique_vowels.add(char)

count = len(unique_vowels)

print("Number of unique vowels:", count)

### `Q3:` Write a program to Check if a given string is binary string of or not. 

A string is said to be binary if it's consists of only two unique characters.

Take string input from user. 

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
input_string = input("Enter a string: ")

is_binary = True
for char in input_string:
    if char != '0' and char != '1':
        is_binary = False
        break

if is_binary:
    print("The given string is a binary string.")
else:
    print("The given string is not a binary string.")

In [ ]:
input_string = input("Enter a string: ")

unique_characters = set(input_string)

if len(unique_characters) == 2:
    print("Yes")
else:
    print("No")

In [ ]:
input_string = input("Enter a string: ")

is_binary = True
unique_characters = set(input_string)

if len(unique_characters) != 2:
    is_binary = False

for char in unique_characters:
    if char != '0' and char != '1':
        is_binary = False
        break

if is_binary:
    print("The given string is a binary string.")
else:
    print("The given string is not a binary string.")

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here

arrays = [[1, 2, 2, 4, 3, 6],
          [5, 1, 3, 4],
          [9, 5, 7, 1],
          [2, 4, 1, 3]]

union_set = set()

for array in arrays:
    union_set.update(array)

union = list(union_set)
union.sort()

print(union)

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here

lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]

intersection = [x for x in lst1 if x in lst2]

print(intersection)

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
# write your code here

test_dict = {"CampusX": [5, 7, 9, 4, 0], "is": [6, 7, 4, 3, 3], "Best": [9, 9, 6, 5, 5]}

max_unique_key = max(test_dict, key=lambda k: len(set(test_dict[k])))

print(max_unique_key)

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# write your code here

test_str = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}

replaced_str = " ".join([repl_dict.get(word, word) for word in test_str.split()])

print(replaced_str)

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
# write your code here

test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

result = []
for i in range(min(len(test_list), len(key_list))):
    temp_dict = {}
    temp_dict[key_list[i]] = test_list[i]
    result.append(temp_dict)

print(result)

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

result = [{key_list[i]: test_list[i]} for i in range(min(len(test_list), len(key_list)))]

print(result)

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
# write your code here

input_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

output_dict = {}
for key, value in input_list:
    if key in output_dict:
        output_dict[key].append(value)
    else:
        output_dict[key] = [value]

print(output_dict)

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here

input_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

output_dict = {}
for key in sorted(input_dict.keys()):
    output_dict[key] = sorted(input_dict[key])

print(output_dict)